# files ignored in git repository

# any folders except for the official ones
/*/
!doc/
!lib/
!modules/
!runs/
!scripts/
!SETUP/

# backup files
*~
*.bak

# object, archive,... files
*.[oa]
*_genmod.f90
*.mod
a.out
rwXDR.d
rwXDR.d.*
*_pycache_*

# any local files, directories,...
*.local
*.local.*
*.local/
local_4
local_5

# error messages from compiler etc.
*.error

# setup files (links) that will be made at compilation,...

LISTOBJ
TAGS
linux.*
g77*
IBMaix*
SGIirix*
sun*
T3E*
unicos*
cray*
git_version.h
git_version_*.h
make.log.*
.deduped.stamp

linux.*/
g77*/
IBMaix*/
SGIirix*/
sun*/
T3E*/
cray*/
unicos*/
!SETUP/linux.*/
!SETUP/g77/
!SETUP/IBMaix/
!SETUP/sun*/
!SETUP/SGIirix*/
!SETUP/T3E/
!SETUP/cray/
!SETUP/unicos/

bin/
bins/
builds/
lib/
libs/
 
# temporary link files for scripts
grep.lis
uinput.dg
uinput.trg
src/uinp/test.eir
src/uinp/input.eir
src/uinp/triang.eir
src/uinp/triang.hed

# auxiliary files for manuals
doc/solps/solps_data_git.log
doc/solps/solps-iter_git.log
doc/solps/solps.*
doc/solps/solps-*.svg
!doc/solps/solps.tex
doc/solps/b2cdc?.F
doc/solps/b2input.xml
doc/solps/B2_5.config.ITER.ifort64
doc/solps/B2_5.config.common.ifort64
doc/solps/B2_5.Makefile
doc/solps/b2plot.commands
doc/solps/b2mod_dimensions.F
doc/solps/DIMENSIONS.F
doc/solps/SOLPS_versions
doc/solps/texput.log
doc/solps/LICENSE.tex
doc/solps/CONTRIBUTING.tex
doc/solps/Old_packages.tex
doc/AFN_BCs_documentation/LaTeX_source_code/main.*
doc/AFN_BCs_documentation/LaTeX_source_code/main-*.*
!doc/AFN_BCs_documentation/LaTeX_source_code/main.tex
doc/AFN_BCs_documentation/LaTeX_source_code/defs.aux
doc/AFN_BCs_documentation.pdf
doc/edit_geo_manual/edit_geo_manual.*
!doc/edit_geo_manual/edit_geo_manual.tex
doc/edit_geo_manual.pdf

# auxiliary files for AMDS
modules/amds/src/x_~fbr.c

# Triangular grid files
modules/Triang/triangles/

# Links to solps4.3 files for converter
modules/solps4-5/src/solps4_Eirene/*.F
modules/solps4-5/src/solps4_B2/*.F
modules/solps4-5/src/B2_include
modules/solps4-5/src/Eirene_modules

# Links to scripts build directories
scripts/*.ifort64*
scripts/*.gfortran*
scripts/*.pgf90*
scripts/*.nag_f90*
scripts/*.cray*
scripts/*.g95*

# Matlab data structure
scripts/*/*.mat
